body{
    color: white;
    font-size: 30px;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father{

    width: 800px;
    height: 700px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}
.header{
    background: blue;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    justify-content: space-between;
}
.footer{
    background: blue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
}
.block{
    height: 250px;
    width: 250px;
    background: #7e7ee0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.block:hover{
    background: darkcyan;
    color: sandybrown;
}
