body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 1000px;
    height: 500px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brick{
    height: 400px;
    width: 300px;
    border: 2px solid gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 150px;
    height: 50px;
    border: 1px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;

}
p{
    padding: 20px;
    color: gold;
}
.btn:hover{
    background: gold;
    cursor: pointer;
}