.father{
    height: 800px;
    width: 900px;
    background: darkcyan;
    display: flex;
    justify-content: flex-start;
    justify-content: start;
    align-items: center;
    /*flex-direction: row-reverse;*/
}
.block1{
   min-height:  height: 200px;
    width: 300px;
    background: gold;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;

}
.block2{
   min-height:  height: 200px;
    width: 300px;
    background: silver;
    /*border: 3px solid black; */
margin: 20px;
}
   p{
       margin: 0px ;
   }


